.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.img-box {
    height: 200px;
    width: 400px;
    margin-bottom: 150px;
    border-radius: 15px;
}

.img {
    border-radius: 20px;
}


.btn {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: chocolate;
    color: rgb(27, 13, 150);
    font-weight: 600;
    font-size: 16px;
}